@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Learn about Azure Developer Certification exam AZ-204 <a href="https://docs.microsoft.com/en-us/learn/certifications/exams/az-204"></a></p>
</div>
